<% if user_signed_in? %>

	<div class="span4 left_nav">
	<%= image_tag current_user.image, :size => '40x40', :class => 'img-polaroid' %> 
    Welcome, <%= current_user.first_name %> <%= current_user.last_name %> 
</div>
<div class="span4 right_nav">


<div class="btn-group">
             <%= image_tag("arrow.png", :size => '25x25', :class => 'left_arrow fade', "data-toggle" => "dropdown", :href=> "#") %>
                <ul class="dropdown-menu">
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Something else here</a></li>
                  	<li class="divider"></li>
                  <li><%= link_to('Edit Profile', edit_user_registration_path) %></li>                  
                  <li class="divider"></li>
                  <li><%= link_to('Logout', destroy_user_session_path, :method => 'delete') %>
</li>
                </ul>
              </div>



</div>


   <% else %>
   <div class="guest_nav">
    Welcome Guest, Please
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
</div>
<% end %>



