<% if user_signed_in? %>
    <div id="nav_signedin">

    <div class="m-btn-group">
      <a class="m-btn red dropdown-toggle" data-toggle="dropdown" href="#">
          <div id="profile_img_wrap" style="background-image: url('<%= current_user.image %>');"></div>
          <div id="name"><%= current_user.first_name %></div>
        <i class="icon-cog icon"></i>
      </a>
      <ul class="m-dropdown-menu">
        <li><%= link_to('Profile Settings', edit_user_registration_path) %></li>
        <li><%= link_to('My Public Profile', public_profile_path(:id => current_user.id)) %></li>
        <li><a href="#">Feedback</a></li>
        <li class="divider"></li>
        <li><%= link_to('Sign out', destroy_user_session_path, :method => 'delete') %></li>
      </ul>
    </div>
    </div>
<% else %>
    <div id="nav_signin">
    <% if params[:controller] == "devise/sessions" && params[:action] == "new" %>
        <%= link_to "JOIN BUYBOX NOW", new_user_registration_path, :class => 'm-btn green rnd' %>
    <% elsif params[:controller] == "devise/registrations" && params[:action] == "new" %>
        <%= link_to "SIGN IN TO BUYBOX", new_user_session_path, :class => 'm-btn green rnd' %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, :class => 'm-btn rnd signin_btn' %>
    <% end %>
    </div>

<% end %>



