

<div id="sub_navigation_links">
  <div class="navigation_item"><a href="/users/show">ACCOUNT INFORMATION</a></div>
  <div class="navigation_item"><a href="/users/edit">ACCOUNT SETTINGS</a></div>
  <div class="navigation_item current_page"><a href="/users/buyer_information">BUYER INFORMATION</a></div>
  <div class="navigation_item"><a href="/users/connection">CONNECTION</a></div>
</div>

<div class="container-fluid content_padding">
  <div class="row-fluid">
    <div class="span6">
        <!-- to display errors returned by createToken -->
        <span class="payment-errors"></span>
        <form action="" method="POST" id="payment-form">
            <legend>Payment</legend>
            <div class="form-row">
                <label>Card Number</label>
                <input type="text" size="20" autocomplete="off" class="card-number" />
            </div>
            <div class="form-row">
                <label>CVC</label>
                <input type="text" size="4" autocomplete="off" class="card-cvc" />
            </div>
            <div class="form-row">
                <label>Expiration (MM/YYYY)</label>
                <input type="text" size="2" class="card-expiry-month"/>
                <span> / </span>
                <input type="text" size="4" class="card-expiry-year"/>
            </div>
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
    <div class="span6">


    <form action="buyer_information" method="get" class="fancy-form">

        <legend>Address</legend>
        <p class="instructions">
            <% if @user.address %>
                Your current address is : <br><%= @user_address_line1 %> <%= @user_address_line2  %>, <%= @user_address_city  %>, <%= @user_address_state  %>  <%= @user_address_zip  %>
                <br>If you want to change it please start by entering your zipcode.
            <% else %>
                You have no address yet. Start by entering your zipcode.
            <% end %>
        </p>
        <div>
          <div>
            <input type="text" name="line1" id="address-line-1" placeholder="Address line 1">
          </div>
        </div>
        <div>
          <div>
            <input type="text" name="line2" id="address-line-2" placeholder="Address line 2">
          </div>
        </div>
        <div>
          <div class="city-wrap">
            <input type="text" name="city" id="city"  placeholder="City">
          </div>
          <div class="state-wrap">
            <input type="text" name="state" id="state" placeholder="State">
          </div>
          <div class="zip-wrap">
            <input type="text" pattern="[0-9]*" maxlength="5" required name="zip" id="zip" placeholder="Zipcode">
            <p class="zip-error">Not a real zip code.</p>
          </div>
        </div>

        <div class="submit-wrap">
         <input type="hidden" name="sub_value" value="new">
          <input type="submit" value="Submit">
        </div>


    </form> 

    </div>
   </div>
</div>

