<!DOCTYPE html>
<html>
<head>
  <title>Buybox - <%= @user.first_name %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body id="profile">

<div id="header" style="background-image: url('/assets/background/7.jpeg');">
  <div id="header_container">
    <div id="main_navigation">
      <a href="/"><div id="header_logo"></div></a>
      <%= render "partials/login_nav" %>

    </div>
  </div>
  <div id="profile_container">
    <div id="profile_image_border">
      <% if @user.image %>
        <div id="profile_image" style="background-image: url('<%= @user.image %>');"></div>
      <% else %>
        <div id="profile_image" style="background-image: url('<%= image_path('user_default.png')%> ');"></div>
      <% end %>
    </div>
    <div id="name_links">
      <span id="name"><%= @user.first_name %> <%= @user.last_name %></span><br>
    </div>

    <div id="public_rating_display">
      <span id="name1"> 4.6 from 864 ratings</span><br>
      <span id="name1"> Yours's rating:<%= image_tag("star_rating.png", :size => '15x15') %> <%= image_tag("star_rating.png", :size => '15x15') %> <%= image_tag("star_rating.png", :size => '15x15') %> <%= image_tag("star_rating.png", :size => '15x15') %> </span>

    </div>


  </div>
</div>

<div id="content_wrapper">
  <div class="divider_shadow"></div>
  <div id="content_container">
    <%= render "partials/notice_alert" %>
    <div class="content_padding">

            <ul id="myTab" class="nav nav-tabs">
              <li class="active profile_tab_padding"><a href="#review" data-toggle="tab">REVIEWS</a></li>
              <li class="profile_tab_padding"><a href="#selling" data-toggle="tab">SELLING</a></li>
              <li class="profile_tab_padding"><a href="#wishlist" data-toggle="tab">WISH LIST</a></li>
              <li class="profile_tab_padding"><a href="#contact" data-toggle="tab">CONTACT</a></li>

            </ul>



            <div id="myTabContent" class="tab-content">
              
              <div class="tab-pane active" id="review">
                <%= render @user.reviews %>
                  <% if @user.id != current_user.id %>
                  <div class="divider"></div>
                  <h2>Add a review:</h2>
                  <%= render "reviews/form" %>
                <% end %>
              </div>


            <div class="tab-pane fade" id="selling">
                <p> SELLING  SELLING  SELLING  SELLING  SELLING  SELLING  SELLING  SELLING  SELLING  SELLING  SELLING  SELLING  SELLING </p>
            </div>




              <div class="tab-pane fade" id="wishlist">
                <p> My wishlist is  My wishlist is  My wishlist is  My wishlist is  My wishlist is  My wishlist is  My wishlist is  My wishlist is  My wishlist is  My wishlist is  My wishlist is  My wishlist is  My wishlist is  My wishlist is  My wishlist is  My wishlist is  My wishlist is  My wishlist is  My wishlist is  My wishlist is  My wishlist is </p>
              </div>

              <div class="tab-pane fade" id="contact">
                <p> CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  </p>
              </div>

            </div>







    </div>
  </div>
</div>


<%= render "partials/footer" %>

</body>
</html>