<!DOCTYPE html>
<html>
<head>
  <title>Buybox - <%= @user.first_name %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body id="profile">

<div id="header" style="background-image: url('/assets/background/<%= 1+rand(13) %>.jpeg');">
  <div id="header_container">
    <div id="main_navigation">
      <a href="/"><div id="header_logo"></div></a>
      <%= render "partials/login_nav" %>

    </div>
  </div>
  <div id="profile_container">
    <div id="profile_image_border">
      <% if @user.image %>
        <div id="profile_image" style="background-image: url('<%= @user.image %>');"></div>
      <% else %>
        <div id="profile_image" style="background-image: url('<%= image_path('user_default.png')%> ');"></div>
      <% end %>
    </div>
    <div id="name_links">
      <span id="name"><%= @user.first_name %> <%= @user.last_name %></span>
      <br>
      <span id="social">
        <% if @user.fb_url %>
          <%= link_to image_tag('social_icon/facebook.png'), @user.fb_url%>
        <% end %>
        <% if @user.twitter_link %>
          <%= link_to image_tag('social_icon/twitter.png'), @user.twitter_link%>
        <% end %>
        <% if @user.email %> 
          <%= link_to image_tag('social_icon/mail.png'), "mailto:" + @user.email%>
        <% end %>


      </span><br>

    </div>
    <div id="public_rating_display">

      <span id="name1">
        <% total_rating = Review.count(:conditions => { :user_id => params[:id] }) %>

      <% if total_rating == 0 %>
        <a class="no_user_rating" href="#review">Be the first one to rate!</a>
      <% else %>
        <% sum_rating = Review.sum(:rating, :conditions => { :user_id => params[:id]}) %>
        <% average_rating = sum_rating.to_f/total_rating.to_f %>
        <%= average_rating.round(2) %> out of <%= total_rating %> ratings
      <% end %>
      </span>
      <br>
      <% if total_rating && sum_rating%>
        <span class="stars pull-right"><%= average_rating.round(2) %></span>
      <% else %>

      <% end %>


    </div>


  </div>
</div>

<div id="content_wrapper">
  <div class="divider_shadow"></div>
  <div id="content_container">
    <%= render "partials/notice_alert" %>
    <div class="content_padding">

            <ul id="myTab" class="nav nav-tabs">
              <li class="active profile_tab_padding"><a href="#review" data-toggle="tab">REVIEWS</a></li>
              <li class="profile_tab_padding"><a href="#selling" data-toggle="tab">SELLING</a></li>
              <li class="profile_tab_padding"><a href="#wishlist" data-toggle="tab">WISH LIST</a></li>
              <li class="profile_tab_padding"><a href="#contact" data-toggle="tab">CONTACT</a></li>

            </ul>



            <div id="myTabContent" class="tab-content">
              
              <div class="tab-pane active" id="review">
              <% if @user.reviews.blank? %>
                <p>No review yet for this user <p><br>
              <% else %>

                <%= render @user.reviews %>
              <% end %>
                  <% if @user.id != current_user.id %>  
                  <div class="divider"></div>
                  <h2>Add a review:</h2>
                  <%= render "reviews/form" %>
                <% end %>
              </div>


            <div class="tab-pane fade" id="selling">
                <div class="product_list_display">
					<h2>Product Inventory</h2>
					<% @products.each do |product| %>
						<table class="inventory_table">
						<tr>
							<td class="inventory_left"><%= image_tag(filepicker_image_url(product.digital_link)) %></td>
							<td class="inventory_middle">
								<p class="inventory_product_name"><%= link_to(product.product_name, {:controller => 'products', :action => 'show', :id => product.id}) %></p>
								Category : Online Goods<br>
								Description:  <%= product.description.truncate(100) %><br>
							</td>
							<td class="inventory_right">
								<div class="inventory_status_right">
									<div class="status_instock"> QTY : <%= product.quantity %> </div>
									<div class="status_price"><%= number_to_currency(product.price) %></div>
								</div>
							</td>
						</tr>
						</table>
						<br/>
					<% end %>
				</div>
            </div>




              <div class="tab-pane fade" id="wishlist">
                <div class="product_list_display">
					<h2>Product Inventory</h2>
					<% @wishlists.each do |wishlist| %>
						<% product = wishlist.product %>
						<table class="inventory_table">
						<tr>
							<td class="inventory_left"><%= image_tag(filepicker_image_url(product.digital_link)) %></td>
							<td class="inventory_middle">
								<p class="inventory_product_name"><%= link_to(product.product_name, {:controller => 'products', :action => 'show', :id => product.id}) %></p>
								Category : Online Goods<br>
								Description:  <%= product.description.truncate(100) %><br>
								<% if @ownProfile %>
									<%= link_to "Delete from my Wishlist", :controller => "wishlists", :action => "delete", :id => wishlist.id %>
								<% end %>
							</td>
							<td class="inventory_right">
								<div class="inventory_status_right">
									<div class="status_instock"> QTY : <%= product.quantity %> </div>
									<div class="status_price"><%= number_to_currency(product.price) %></div>
								</div>
							</td>
						</tr>
						</table>
						<br/>
					<% end %>
				</div>
              </div>

              <div class="tab-pane fade" id="contact">
                <p> CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  CONTACT USER  </p>
              </div>

            </div>







    </div>
  </div>
</div>


<%= render "partials/footer" %>

</body>
</html>