<!DOCTYPE html>
<html>
<head>
  <title>Buybox - <%= @user.first_name %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body id="profile">

<div id="header" style="background-image: url('/assets/background/7.jpeg');">
  <div id="header_container">
    <div id="main_navigation">
      <a href="/"><div id="header_logo"></div></a>
      <%= render "partials/login_nav" %>

    </div>
  </div>
  <div id="profile_container">
    <div id="profile_image_border">
      <div id="profile_image" style="background-image: url('<%= @user.image %>');"></div>
    </div>
    <div id="name_links">
      <span id="name"><%= @user.first_name %> <%= @user.last_name %></span><br>

    </div>
  </div>
</div>

<div id="content_wrapper">
  <div class="divider_shadow"></div>
  <div id="content_container">
    <%= render "partials/notice_alert" %>
  <h2>Reviews</h2>
  <%= render @user.reviews %>
    <% if @user.id != current_user.id %>
    <h2>Add a review:</h2>
      <%= render "reviews/form" %>
    <% end %>

  </div>
</div>


<%= render "partials/footer" %>

</body>
</html>