<div class="content_padding row">
<h2> User Profile </h2>



	<div class="span4">
		<%= image_tag current_user.image, :size => '300x300', :class => 'img-polaroid' %> <p></td>
	</div>

	<div class="span8"><h4>
		<b>First Name: </b> <%= current_user.first_name %><br>
		<b>Last Name: </b> <%= current_user.last_name %><br>
		<b>Join Date: </b> <%= current_user.confirmed_at %><br>
		<b>Location: </b> <%= current_user.location %><br>
		<b>Email: </b> <%= current_user.email %><br>
		<b>Email: </b> <%= current_user.fb_url %><br></h4>
	</div>

</div>