<div id="sub_navigation_links">
  <div class="navigation_item current_page"><a href="/users/show">ACCOUNT INFORMATION</a></div>
  <div class="navigation_item"><a href="/users/edit">ACCOUNT SETTINGS</a></div>
  <div class="navigation_item"><a href="/users/buyer_information">BUYER INFORMATION</a></div>

  <div class="navigation_item"><a href="/users/connection">CONNECTION</a></div>
</div>


  <div class="container-fluid content_padding">
    <div class="row-fluid">


      <div class="span6 content_padding">
        <table class="table user_profile_date_table">
            <tbody>
              <tr>
                <td><b>First Name</b></td>
                <td><%= current_user.first_name%> </td>
              </tr>
              <tr>
                <td><b>Last Name: </b></td>
                <td><%= current_user.last_name %></td>
              </tr>
              <tr>
                <td><b>Email: </b></td>
                <td><%= current_user.email %></td>
              </tr>
              <tr>
                <td><b>Facebook: </b></td>
                <td><%= current_user.fb_url %></td>
              </tr>              
              <tr>
                <td><b>Location: </b></td>
                <td><%= current_user.location %></td>
              </tr>

            </tbody>
          </table>
          	<br><br>
          	<%= link_to('Go to Edit Profile', edit_user_registration_path, :class => "m-btn purple-stripe") %>
      </div>
      <div class="span4">
        <% if current_user.image.nil? %>
           <%= image_tag("user_default.png", :size => '300x300', :class => 'img-polaroid') %> 
        <% else %> 
            <%= image_tag current_user.image, :size => '300x300', :class => 'img-polaroid' %> 
        <% end %><br>

        <h5>Joined at: </h5> <%= current_user.created_at.strftime('%B %d, %Y') %> <br>
          <h5>Last Signed in at: </h5> <%= current_user.last_sign_in_at.strftime('%B %d, %Y') %><br>
          IP: <%= current_user.last_sign_in_ip %>
          <br>
      </div>
</div>
</div>