<div id="sub_navigation_links">
  <div class="navigation_item"><a href="/about">ABOUT US</a></div>
  <div class="navigation_item"><a href="/ocd">TEAM OCD</a></div>
  <div class="navigation_item"><a href="/faq">FAQ</a></div>
  <div class="navigation_item"><a href="/privacypolicy">PRIVACY POLICY</a></div>
  <div class="navigation_item"><a href="/termofuse">TERM OF USE</a></div>
  <div class="navigation_item current_page"><a href="/contact">CONTACT US</a></div>
</div>
<p><br>
<div class="container-fluid content_padding">
  <div class="row-fluid">
										<!-- Form -->
					<div class="span8" id="contact_form_frame">
					<center><br><%= image_tag("contactus.jpg", :size => "500x200", :class => "img-polaroid") %></center>


						<form id="form2" action="/" method="post">	
							<div style="margin-left: 15px;"><br><h3>Contact Us</h3>
</div>							
							<div id="contact_forms">
								Name
								<input class="input-xlarge" type="text">
								
							
								Email
								<input class="input-xlarge" type="text">
								
							
								Subject
								<input class="input-xlarge" type="text">
								
							
								Message
								<textarea rows="3" class="input-xlarge"></textarea>
								
							
								<br/><br/ >
								<button type="submit" class="btn btn-info btn-large">Send</button>
							</div>
						</form>
						
						<!--
						<%= form_tag("/search", :method => "get") do %>
							<legend>Questions? Contact Us</legend>
							
							
							<%= label_tag(:name, "Name:") %>
							<%= text_field_tag(:name) %>
							
							<%= label_tag(:email, "Email:") %>
							<%= text_field_tag(:email) %>
							
							<%= label_tag(:subject, "Subject:") %>
							<%= text_field_tag(:subject) %>
							
							<%= label_tag(:message, "Message:") %>
							<%= text_area_tag(:message, "Hi, nice site", :size => "24x6") %>
							
							<br/>
							<%= submit_tag("Search") %>
							
						<% end %>
						
						-->
						
					</div>


					<!-- Contact Information -->
					<div class="span4" id="contact_info_frame">
						
						<div id="contact_info">


							<iframe width="250" class="img-polaroid" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=san+diego&amp;aq=&amp;sll=32.756952,-117.130091&amp;sspn=0.159376,0.355682&amp;ie=UTF8&amp;hq=&amp;hnear=San+Diego,+California&amp;ll=32.715329,-117.157255&amp;spn=0.15945,0.355682&amp;t=m&amp;z=12&amp;output=embed"></iframe><br />


													<h3>Location</h3>
								<p><i class="icon-map-marker"></i> 9500 Gilman Drive <br/> La Jolla, CA 92093 <br/ >United States</p>								<br />

								<h3>Phone</h3>
								<p><i class="icon-user"></i> (858) Buy-Boxx (San Diego, CA)</p>
								
								<br />
								
								<h3>Email</h3>
								<p><i class="icon-envelope"></i> help@buybox.com</p>
								
								
	
						
						</div>
						
						<br/>
						
						<div id="contact_consultation">
							<h2> Start Now! </h3>
							<button type="submit" class="btn btn-danger btn-large">Start Shopping Now !</button>
						</div>
						
					</div>
					
				</article>

  </div>
</div>


