<div id="sub_navigation_links">
  <div class="navigation_item"><a href="/about">ABOUT US</a></div>
  <div class="navigation_item current_page"><a href="/ocd">TEAM OCD</a></div>
  <div class="navigation_item"><a href="/faq">FAQ</a></div>
  <div class="navigation_item"><a href="/privacypolicy">PRIVACY POLICY</a></div>
  <div class="navigation_item"><a href="/termofuse">TERM OF USE</a></div>
  <div class="navigation_item"><a href="/contact">CONTACT US</a></div>
</div>

<div class="container-fluid content_padding">
  <div class="row-fluid">
     <h3>Team BuyBox</h3>
     <center>
		<table class="team_picture" >
		  <tbody>
		    <tr>
		      <td><center>Arjun</center></td>
		      <td><center>Alex</center></td>
		      <td><center>Mike</center></td>
		      <td><center>Julia</center></td>
		      <td><center>Julie</center></td>
		      <td><center>Dong-Ju</center></td>
		      <td><center>Trung-Hieu</center></td>
		      <td><center>Steven</center></td>
		      <td><center>Alok</center></td>
		    </tr>
		    <tr>
		      <td><div id="thumb_effect"><a href="#arjun"><%= image_tag("http://profile.ak.fbcdn.net/hprofile-ak-prn1/c31.0.118.118/26801_1422527240548_7048246_a.jpg", :size=>"70x70", :class=>"img-polaroid") %></a></div></td>
		      <td><div id="thumb_effect"><a href="#alex"><%= image_tag("http://profile.ak.fbcdn.net/hprofile-ak-ash4/c170.50.621.621/s160x160/485104_10151268991420091_934967550_n.jpg", :size=>"70x70", :class=>"img-polaroid") %></a></div></td>
		      <td><div id="thumb_effect"><a href="#mike"><%= image_tag("http://profile.ak.fbcdn.net/hprofile-ak-ash3/c50.50.621.621/s160x160/574881_10150932212278811_1073260335_n.jpg", :size=>"70x70", :class=>"img-polaroid") %></a></div></td>
		      <td><div id="thumb_effect"><a href="#julia"><%= image_tag("http://profile.ak.fbcdn.net/hprofile-ak-snc6/c0.3.314.314/s160x160/179906_10151796987455198_1912984294_n.jpg", :size=>"70x70", :class=>"img-polaroid") %></a></div></td>
		      <td><div id="thumb_effect"><a href="#julie"><%= image_tag("http://profile.ak.fbcdn.net/hprofile-ak-ash3/c178.0.604.604/s160x160/600249_1002029915098_1903163647_n.jpg", :size=>"70x70", :class=>"img-polaroid") %></a></div></td>
		      <td><div id="thumb_effect"><a href="#david"><%= image_tag("http://profile.ak.fbcdn.net/hprofile-ak-snc7/c38.38.475.475/s160x160/295278_3703372701884_1438830943_n.jpg", :size=>"70x70", :class=>"img-polaroid") %></a></div></td>
		      <td><div id="thumb_effect"><a href="#jake"><%= image_tag("http://profile.ak.fbcdn.net/hprofile-ak-ash4/c31.31.382.382/s160x160/975_10151538873354741_504340712_n.jpg", :size=>"70x70", :class=>"img-polaroid") %></a></div></td>
		      <td><div id="thumb_effect"><a href="#steven"><%= image_tag("http://profile.ak.fbcdn.net/hprofile-ak-ash4/c178.0.604.604/s160x160/252231_1002029915278_1941483569_n.jpg", :size=>"70x70", :class=>"img-polaroid") %></a></div></td>
		      <td><div id="thumb_effect"><a href="#alok"><%= image_tag("alok_image.jpg", :size=>"70x70", :class=>"img-polaroid") %></a></div></td>
		    </tr>
		  </tbody>
		</table>
	</center><br><Br>
<div class="divider"></div>
<br>
      <h3>Who are we?</h3>
          <p>We are a group of students at UCSD learning about software engineering. 
      We built this e-commerce site to make trading a pleasant experience for every seller and buyers. We are a team consisting of nine dedicated programmers; our names are Arjun Patel (Team Leader), Alok Singh, Alex Yang, Jake Pham, Dong-Ju Nam, Julia Lee, Michael Choi, Steven Shieh, and Julie Park.We are a group of students at UCSD learning about software engineering. 
      We built this e-commerce site to make trading a pleasant experience for every seller and buyers.  </p>
  

<br><br>
<div class="divider"></div>
<br><br>
 <h3>The Staffs</h3>

  <a name="arjun"></a>
        <div class="row-fluid profile_table row line_break center">
            <div class="span3">
                <%= image_tag("http://profile.ak.fbcdn.net/hprofile-ak-prn1/c31.0.118.118/26801_1422527240548_7048246_a.jpg", :size=>"150x150", :class=>"img-polaroid") %>
            </div>
            <div class="span9"><h3>Project Manager</h3><h4>Arjun Patel</h4>
                <p class="info">Arjun Patel is the product manager of team after Buybox. He is a Software Engineer at HP and a senior at UCSD. He is amazing at Ruby on Rails.</p>
            </div>
        </div>
  <br>

	<div class="divider"></div><br>

	  <a name="alex"></a>
        <div class="row-fluid profile_table row line_break center">
            <div class="span3">
                <%= image_tag("http://profile.ak.fbcdn.net/hprofile-ak-ash4/c170.50.621.621/s160x160/485104_10151268991420091_934967550_n.jpg", :size=>"150x150", :class=>"img-polaroid") %>
            </div>
            <div class="span9"><h3>Software Development Lead</h3><h4>Alex Yang</h4>
                <p class="info">Alex Yang is a third year Computer Science major at UCSD. He is working as the Software Development Lead of team OCD. </p>
            </div>
        </div>
  <br>

	<div class="divider"></div><br>

	  <a name="mike"></a>
        <div class="row-fluid profile_table row line_break center">
            <div class="span3">
                <%= image_tag("http://profile.ak.fbcdn.net/hprofile-ak-ash3/c50.50.621.621/s160x160/574881_10150932212278811_1073260335_n.jpg", :size=>"150x150", :class=>"img-polaroid") %>
            </div>
            <div class="span9"><h3>Quality Assurance Lead</h3><h4>Mike Choi</h4>
                <p class="info">My name is Michael Choi. My role in this project was the Quality Assurance Specialist. I am a UCSD student with a major in Management Science and a minor in Computer Science.</p>
            </div>
        </div>
  <br>

	<div class="divider"></div><br>

	  <a name="julia"></a>
        <div class="row-fluid profile_table row line_break center">
            <div class="span3">
                <%= image_tag("http://profile.ak.fbcdn.net/hprofile-ak-snc6/c0.3.314.314/s160x160/179906_10151796987455198_1912984294_n.jpg", :size=>"150x150", :class=>"img-polaroid") %>
            </div>
            <div class="span9"><h3>User Interface Specialist</h3><h4>Julia Lee</h4>
                <p class="info">Julia Lee is a third year student at UCSD. She is the User Interface Specialist of team OCD  </p>
            </div>
        </div>
  <br>

	<div class="divider"></div><br>

	  <a name="julie"></a>
        <div class="row-fluid profile_table row line_break center">
            <div class="span3">
                <%= image_tag("http://profile.ak.fbcdn.net/hprofile-ak-ash3/c178.0.604.604/s160x160/600249_1002029915098_1903163647_n.jpg", :size=>"150x150", :class=>"img-polaroid") %>
            </div>
            <div class="span9"><h3>User Interface Specialist</h3><h4>Julie</h4>
                <p class="info">Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something  </p>
            </div>
        </div>
  <br>

	<div class="divider"></div><br>

	  <a name="david"></a>
        <div class="row-fluid profile_table row line_break center">
            <div class="span3">
                <%= image_tag("http://profile.ak.fbcdn.net/hprofile-ak-snc7/c38.38.475.475/s160x160/295278_3703372701884_1438830943_n.jpg", :size=>"150x150", :class=>"img-polaroid") %>
            </div>
            <div class="span9"><h3>Database Specialist</h3><h4>David Nam</h4>
                <p class="info">Dong-Ju Nam is a 4th year computer science major at UCSD. He is the Database Specialist of team OCD. He is currently working as a software engineering intern at Carefusion Corporation. </p>
            </div>
        </div>
  <br>

	<div class="divider"></div><br>

	  <a name="jake"></a>
        <div class="row-fluid profile_table row line_break center">
            <div class="span3">
                <%= image_tag("http://profile.ak.fbcdn.net/hprofile-ak-ash4/c31.31.382.382/s160x160/975_10151538873354741_504340712_n.jpg", :size=>"150x150", :class=>"img-polaroid") %>
            </div>
            <div class="span9"><h3>Software Architect</h3><h4>Jake Pham</h4>
                <p class="info"> Jake is a senior at UCSD. He is working toward a bachelor degree in Computer Science at UCSD. He is the Software Architect and currently working as Intern at Northrop Grumman. </p>
            </div>
        </div>
  <br>

	<div class="divider"></div><br>

	  <a name="steven"></a>
        <div class="row-fluid profile_table row line_break center">
            <div class="span3">
                <%= image_tag("http://profile.ak.fbcdn.net/hprofile-ak-ash4/c178.0.604.604/s160x160/252231_1002029915278_1941483569_n.jpg", :size=>"150x150", :class=>"img-polaroid") %>
            </div>
            <div class="span9"><h3>Senior System Analyst</h3><h4>Steven Shieh</h4>
                <p class="info">Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something Something  </p>
            </div>
        </div>
  <br>

	<div class="divider"></div><br>

	  <a name="alok"></a>
        <div class="row-fluid profile_table row line_break center">
            <div class="span3">
                <%= image_tag("alok_image.jpg", :size=>"150x150", :class=>"img-polaroid") %>
            </div>
            <div class="span9"><h3>Deputy Manager</h3><h4>Alok Sigh</h4>
                <p class="info">Alok Singh is a graduate student at UCSD. He is currently the Deputy Manager and Database Specialist of the OCD team. </p>
            </div>
        </div>
  <br>

	<div class="divider"></div><br>


	
  </div>
</div>


