<div id="sub_navigation_links">
  <div class="navigation_item"><a href="/orders/overview">OVERVIEW</a></div>
  <div class="navigation_item"><a href="/products/list">INVENTORY</a></div>
  <div class="navigation_item"><a href="/orders/sold">SALES</a></div>
  <div class="navigation_item current_page"><a href="/orders/purchased">PURCHASES</a></div>
  <div class="navigation_item"><a href="/products/new/">POST NEW PRODUCT</a></div>
</div>



<div class="product_list_display">
  <h2>Products Purchased</h2>


    <% @orders.each do |order| %>
 	<% product = order.product %>
	  <% buyer = User.find(order.user_id) %>
	  <% if product != nil && buyer != nil %>    
		<table class="inventory_table">
		    <tr>
		        <td class="inventory_left"><%= filepicker_image_tag product.digital_link, w: 200, h: 150, fit: 'clip' %></td>
		        <td class="inventory_middle">
		        	<p class="inventory_product_name"><%= product.product_name %> </p>
		        	Category : Online Goods<br>
		        	Order Number: <%= order.id + 11392 %><br>
		        	Seller: Unknown<br>
		        	Description:  <%= product.description.truncate(100)  %><br>

		        </td>
		        <td class="inventory_right">
					<div class="inventory_status_left">
						<p class="user_list_button">Ask Seller</p>
						<p class="user_list_button">Rate Seller</p>
						<p class="user_list_button">Track Item</p>

					</div> 
					<div class="inventory_status_right">
						<div class="status_instock"> QTY : <%= product.quantity %> </div>
						<div class="status_price"><%= order.price %></div>


					</div>
		        </td>
		    </tr>
		</table><br>
	<% end %>
  <% end %>
 </table>
</div>
