<div id="sub_navigation_links">
  <div class="navigation_item"><a href="/orders/overview">OVERVIEW</a></div>
  <div class="navigation_item"><a href="/products/list">INVENTORY</a></div>
  <div class="navigation_item current_page"><a href="/orders/sold">SALES</a></div>
  <div class="navigation_item"><a href="/orders/purchased">PURCHASES</a></div>
  <div class="navigation_item"><a href="/products/new/">POST NEW PRODUCT</a></div>
</div>



<div class="product_list_display">
  <% if @orders == [] %>
	<p>You are not selling any products</p>
  <% else %>
    <% @orders.each do |order| %>
    	<% product = order.product %>
	  	<% buyer = User.find(order.user_id) %>
	 	<% if product != nil && buyer != nil %>
  		<table class="inventory_table">
    	<tr>
        <td class="inventory_left"><div class="inv_pic_left" style="background: url('<%= product.digital_link %>')"></div></div>
</td>
        <td class="inventory_middle">
        	<p class="inventory_product_name"><%= product.product_name %></p>
        	Category : <%= product.category.category %><br/>
        	Order Number : <%= order.id + 11392 %><br/>
        	Buyer: <%= buyer.first_name + " " + buyer.last_name %><br/>
        	Description:  <%= product.description.truncate(100) %><br/>
        </td>
        <td class="inventory_right">
			<div class="inventory_status_left">
				<p class="user_list_button">Contact Buyer</p><br>
				<% if order.order_status != "Shipped" %>
					<p class="user_list_button"> 
						<%= link_to "Mark as Shipped", :controller => "orders", :action => "changeStatus", :id => order.id %>
					</p>
				<% end %>
				
			</div> 
			<div class="inventory_status_right">
				<% if order.order_status != "Shipped" %>
					<div class="status_notinstock"> 
				<% else %>
					<div class="status_instock"> 
				<% end %>
				<%= order.order_status %> 
				</div>
				<div class="status_price">$ <%= '%.0f' % product.price %></div>


			</div>
        </td>
   		 </tr>
		</table><br>
    	<% end %>
    <% end %>
	<% end %>
</div>

