

<div class="product list">
  <h2>Products Sold</h2>
  
  <%= link_to("List a Product", {:action => 'new'}, :class => 'action new') %>
  <br></br>
  <table border="1" class="listing" summary="Product sold">
    <tr class="header" style="font-size:16px;">
      <th>Product&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>	
	  <th>Price</th>
	  <th>Buyer</th>
	  <th>Order Number</th>
	  <th>Date Purchased</th>
	  <th>Order Status</th>
	  <th>Change Order Status</th>
    </tr>
    <% @orders.each do |order| %>
    <tr>
	  <% product = order.product %>
	  <% buyer = product.user %>
	  <% if product != nil && buyer != nil %>
	    <td><%= product.product_name %></td>
	    <td><%= order.price %></td>
	    <td><%= buyer.first_name + " " + buyer.last_name %></td>
	    <td><%= order.id + 11392 %></td>
	    <td><%= order.date_of_purchase %></td>
		<td><%= order.order_status %></td>
		<td> 
		  <% if order.order_status != "Shipped" %>
		    <%= button_to "Mark as Shipped", :controller => "orders", :action => "changeStatus", :id => order.id %>
		  <% end %>
		</td>
	  <% end %>
    </tr>
    <% end %>
  </table>
</div>
