<div class="search_table">
  <div>
    <div>
      <div class="search_left_side_bar">
        <div class="search_left_title"><h3>Search</h3></div>
        <%= form_for @search do |f| %>
            <br>

            <p>
              <%= f.text_field :product_name_or_brand_or_description_contains, :class =>"product_search_textfield", :placeholder =>"Search Everthing" %>
            </p>

            <p>
              <%= f.label :price_gte, "Price ranges", :class=> "search_header" %>
              <%= f.text_field :price_gte, :class => "price_search_textfield", :placeholder => "Min" %>
              <%= f.text_field :price_lte, :class => "price_search_textfield", :placeholder => "Max" %>
            </p>
            <%= f.label :zip_equals, "Location", :class=> "search_header" %>
            <p><%= f.text_field :zip_equals, :class =>"product_search_textfield", :placeholder =>"Zip Code" %></p>



            <p class="button"><%= f.submit "Search", :class => "m-btn rnd green" %></p>
        <% end %>

        <div class="search_left_title">Categories</div>
        <form class="bb_filter product_categories">
          <fieldset>
          <% Category.all.each do |cat| %>
                <div class="category cat_active" id="bb_<%= cat.category %>"><%= cat.category %></div>
          <% end %>
          </fieldset>
        </form>

      </div>
      <div class="search_right_side_bar">
        <div class="search_title">Search the Universe</div>

        <form class="bb_filter product_sort">
          <fieldset>
            <div class="btn-group">
              <input type="submit" class="btn active" name="sort" value="Name" checked="checked">
              <input type="submit" class="btn" name="sort" value="Price">
            </div>
          </fieldset>
        </form>


        <div class="divider"></div>
        <br>

        <ul id="products" class="product_list search_product_list">
          <%= render :partial => "partials/product", :collection => @products %>
        </ul>
      </div>
    </div>
  </div>
</div>