<div id="sub_navigation_links">
  <div class="navigation_item"><a href="#">OVERVIEW</a></div>
  <div class="navigation_item current_page"><a href="/users/edit">INVENTORY</a></div>
  <div class="navigation_item"><a href="/users/buyer_information">SALES</a></div>

  <div class="navigation_item"><a href="/products/new/">POST NEW PRODUCT</a></div>
</div>





<div class="product list">
  <h2>Products</h2>
  
  
    <% @products.each do |product| %>
    <table class="inventory_table">
    <tr>
        <td class="inventory_left"><%= filepicker_image_tag product.digital_link, w: 160, h: 160, fit: 'clip' %></td>
        <td class="inventory_middle">
        	<p class="inventory_product_name"><%= product.product_name %></p>
        	Category : Online Goods<br>
        	Description:  <%= product.description %><br>

        </td>
        <td class="inventory_right">
			<div class="inventory_status_left">
				<p class="user_list_button"> 		<%= link_to("Delete", {:action => 'delete', :id => product.id}, :class => 'action delete') %> </p>
				<p class="user_list_button"> 
					<% if product.active == false %>
						<%= link_to("Activate", {:action => "change_active", :id => product.id}) %>
					<% else %>
						<%= link_to("Deactivate", {:action => "change_active", :id => product.id}) %>
					<% end %>
				</p>
				<p class="user_list_button"> <%= link_to("Edit Listing", {:action => 'edit', :id => product.id}, :class => 'action delete') %> </p>

			</div> 
			<div class="inventory_status_right">
				<div class="status_instock"> QTY : <%= product.quantity %> </div>
				<div class="status_price"><%= number_to_currency(product.price) %></div>


			</div>
        </td>
    </tr>
</table><br>


    <% end %>
</div>
