<div id="sub_navigation_links">
  <div class="navigation_item"><a href="/orders/overview">OVERVIEW</a></div>
  <div class="navigation_item current_page"><a href="/products/list">INVENTORY</a></div>
  <div class="navigation_item"><a href="/orders/sold">SALES</a></div>
  <div class="navigation_item"><a href="/orders/purchased">PURCHASES</a></div>
  <div class="navigation_item"><a href="/products/new/">POST NEW PRODUCT</a></div>
</div>


<div class="product_list_display">

  <% @products.each do |product| %>


      <table class="inventory_table">
        <tr>
          <td class="inventory_left">
            <div class="inv_pic_left" style="background: url('<%= product.digital_link %>')"></div>
          </td>
          <td class="inventory_middle">
            <p class="inventory_product_name"><%= link_to(product.product_name, {:action => 'show', :id => product.id}) %></p>
            Category : <%= product.category.category %><br/>
            Description:  <%= product.description.truncate(100) %>
            <br>

          </td>
          <td class="inventory_right">
            <div class="inventory_status_left">
              <p class="user_list_button">         <%= link_to("Delete", {:action => 'delete', :id => product.id}, :class => 'action delete') %> </p>

              <p class="user_list_button">
                <% if product.active == false %>
                    <%= link_to("Activate", {:action => "change_active", :id => product.id}) %>
                <% else %>
                    <%= link_to("Deactivate", {:action => "change_active", :id => product.id}) %>
                <% end %>
              </p>

              <p class="user_list_button"> <%= link_to("Edit Listing", {:action => 'edit', :id => product.id}, :class => 'action delete') %> </p>

            </div>
            <div class="inventory_status_right">
              <div class="status_instock"> QTY : <%= product.quantity %> </div>
              <div class="status_price"><%= number_to_currency(product.price) %></div>


            </div>
          </td>
        </tr>
      </table>
      <br>


  <% end %>
</div>
