<div class="product new">
  <h2>List a Product</h2>

  <div id="price_estimate">
    <div id="pe_header">Let <span class="bold">Buybox Price Genie</span> help you pick the right price.</div>
    <div id="pe_content">
      <input id="pe_price" type="text" placeholder="Enter product name">

      <div id="price_container">
      <div id="price_estimate_price">0</div>
      <div id="price_estimate_text">Buybox Price Genie Estimate</div>
        </div>
    </div>
  </div>

  <%= form_for(:product, :url => {:action => 'create'}) do |f| %>
  
    <table summary="Product form fields">
      <tr>
        <td align = right>Product&nbsp;&nbsp;</td>
        <td><%= f.text_field(:product_name) %></td>
      </tr>
      <tr>
        <td align = right>Description&nbsp;&nbsp;</td>
        <td><%= f.text_field(:description) %></td>
      </tr>
      <tr>
        <td align = right>Brand&nbsp;&nbsp;</td>
        <td><%= f.text_field(:brand) %></td>
      </tr>
      <tr>
        <td align = right>Price&nbsp;&nbsp;</td>
        <td><%= f.text_field(:price) %></td>
      </tr>
      <tr>
        <td align = right>Quantity&nbsp;&nbsp;</td>
        <td><%= f.text_field(:quantity) %></td>
      </tr>
      <tr>
        <td align = right>Zipcode&nbsp;&nbsp;</td>
        <td><%= f.text_field(:zip) %></td>
      </tr>
    </table>
    
	<%#= form_for @user do |f| %>
	  <div>
	    <%= f.label :digital_link, "Upload Your Avatar:" %>
	    <%= f.filepicker_field :digital_link %> <!-- User#avatar_url is a regular string column -->
	  </div>
    <div class="form-buttons">
      <%= submit_tag("Create Product") %>
    </div>
    <%# end %>
  <% end %>
</div>
