<div class="product new">
  <h2>List a Product</h2>

  <%= form_for(:product, :url => {:action => 'create'}) do |f| %>
  
    <table summary="Product form fields">
      <tr>
        <td align = right>Product&nbsp;&nbsp;</td>
        <td><%= f.text_field(:product_name) %></td>
      </tr>
      <tr>
        <td align = right>Description&nbsp;&nbsp;</td>
        <td><%= f.text_field(:description) %></td>
      </tr>
      <tr>
        <td align = right>Brand&nbsp;&nbsp;</td>
        <td><%= f.text_field(:brand) %></td>
      </tr>
      <tr>
        <td align = right>Price&nbsp;&nbsp;</td>
        <td><%= f.text_field(:price) %></td>
      </tr>
      <tr>
        <td align = right>Quantity&nbsp;&nbsp;</td>
        <td><%= f.text_field(:quantity) %></td>
      </tr>
      <tr>
        <td align = right>Zipcode&nbsp;&nbsp;</td>
        <td><%= f.text_field(:zip) %></td>
      </tr>
	  <tr>
	    <td align = right>Category&nbsp;&nbsp;</td>

			<td>
			<%= f.select :category_id, [['Books', 1],['Online', 2],['Electronics', 3],['Sports', 4],
			                            ['Home', 5],['Clothing', 6], ['Movies', 7], ['Music', 8], ['Home', 9],
										['Other', 10]
										] %>
		</td>
		</tr>
    </table>
    
	<%#= form_for @user do |f| %>
	  <div>
	    <%= f.label :digital_link, "Upload a picture for your product:" %>
	    <%= f.filepicker_field :digital_link %> <!-- User#avatar_url is a regular string column -->
	  </div>
    <hr/>
    <div class="form-buttons">
      <%= submit_tag("Create Product") %>
    </div>
    <%# end %>
  <% end %>
</div>
