<div class="product new">
  <h2>Add Product</h2>

  <%= form_for(:product, :url => {:action => 'create'}) do |f| %>
  
    <table summary="Product form fields">
      <tr>
        <th>Product Name</th>
        <td><%= f.text_field(:product_name) %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= f.text_field(:description) %></td>
      </tr>
      <tr>
        <th>Brand</th>
        <td><%= f.text_field(:brand) %></td>
      </tr>
      <tr>
        <th>Price</th>
        <td><%= f.text_field(:price) %></td>
      </tr>
      <tr>
        <th>Quantity</th>
        <td><%= f.text_field(:quantity) %></td>
      </tr>
      <tr>
        <th>Zipcode</th>
        <td><%= f.text_field(:zip) %></td>
      </tr>
    </table>
    
    <div class="form-buttons">
      <%= submit_tag("Create Product") %>
    </div>
    
  <% end %>
</div>
