<div class="product new">
  <h2>List a Product</h2>

  <%= form_for(:product, :url => {:action => 'create'}) do |f| %>
  
    <table summary="Product form fields">
      <tr>
        <td align = right>Product&nbsp;&nbsp;</td>
        <td><%= f.text_field(:product_name) %></td>
      </tr>
      <tr>
        <td align = right>Description&nbsp;&nbsp;</td>
        <td><%= f.text_field(:description) %></td>
      </tr>
      <tr>
        <td align = right>Brand&nbsp;&nbsp;</td>
        <td><%= f.text_field(:brand) %></td>
      </tr>
      <tr>
        <td align = right>Price&nbsp;&nbsp;</td>
        <td><%= f.text_field(:price) %></td>
      </tr>
      <tr>
        <td align = right>Quantity&nbsp;&nbsp;</td>
        <td><%= f.text_field(:quantity) %></td>
      </tr>
      <tr>
        <td align = right>Zipcode&nbsp;&nbsp;</td>
        <td><%= f.text_field(:zip) %></td>
      </tr>
    </table>
    
    <div class="form-buttons">
      <%= submit_tag("Create Product") %>
    </div>
    
  <% end %>
</div>
