<div class="product show">
  <h2>Show Product</h2>

  <table summary="Product detail view">
    <tr>
      <td align = right>Name:&nbsp;&nbsp;</td>
      <td><%= @product.product_name %></td>
    </tr>
    <tr>
      <td align = right>Description:&nbsp;&nbsp;</td>
      <td><%= @product.description %></td>
    </tr>
    <tr>
      <td align = right>Brand:&nbsp;&nbsp;</td>
      <td><%= @product.brand %></td>
    </tr>
    <tr>
      <td align = right>Price:&nbsp;&nbsp;</td>
      <td><%= @product.price %></td>
    </tr>
    <tr>
      <td align = right>Quantity:&nbsp;&nbsp;</td>
      <td><%= @product.quantity %></td>
    </tr>

  </table>
  
</div>
