<div class="content_padding pull-left">
	<%= image_tag("user_default.png", :size => '70x70', :class => 'img-polaroid') %> </div>

<table class="table table-bordered">


<p>
  <b>Reviewer ID:</b>
  <%= review.reviewer %>
</p>
<p>
  <b>Rating:</b>
  <%= review.rating %>
</p>
<p>
  <b>Review:</b>
  <%= review.comment %>
</p>
 
<p>
  <%= link_to 'Destroy Review', [review.user, review],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>

</table>