
<table class="table table-hover review_table_no_bottom_margin">
   <tr>
      <td>
        <div class="user_review_leftside">
          <% if(User.find(review.reviewer_id).image) %>
              <%= image_tag User.find(review.reviewer_id).image, :size => '100x100', :class => 'img-polaroid' %>
            <% else %>
              <%= link_to image_tag("user_default.png", :size => '100x100', :class => 'img-polaroid'), public_profile_path(:id => review.reviewer_id) %> 
          <% end %><br>

          <% profile_name = User.find(review.reviewer_id).first_name + " " +  User.find(review.reviewer_id).last_name %>
          <%= link_to(profile_name, public_profile_path(:id => review.reviewer_id)) %><br>
          <%  if myself?(review.reviewer_id) %>
            <%= link_to 'Delete Review', [review.user, review], :confirm => 'Are you sure?', :method => :delete %>
          <% end %>
        </div>
      </td>
      <td>
      <div class="user_review_rightside">
        <div class="header">
          <div class="pull-left">Review by <%= User.find(review.reviewer_id).first_name %> <%= User.find(review.reviewer_id).last_name %> on <%= review.created_at.strftime('%B %d, %Y')  %></div>
           <div class="pull-right"> 
<% if review.rating == 1 %>
  <%= image_tag("star_rating.png", :size => '20x20') %>  
<% elsif review.rating == 2 %>
  <%= image_tag("star_rating.png", :size => '20x20') %> <%= image_tag("star_rating.png", :size => '20x20') %> 
<% elsif review.rating == 3 %>
  <%= image_tag("star_rating.png", :size => '20x20') %> <%= image_tag("star_rating.png", :size => '20x20') %> <%= image_tag("star_rating.png", :size => '20x20') %> 
<% elsif review.rating == 4 %>
  <%= image_tag("star_rating.png", :size => '20x20') %> <%= image_tag("star_rating.png", :size => '20x20') %> <%= image_tag("star_rating.png", :size => '20x20') %> <%= image_tag("star_rating.png", :size => '20x20') %> 
<% elsif review.rating == 5 %>
  <%= image_tag("star_rating.png", :size => '20x20') %> <%= image_tag("star_rating.png", :size => '20x20') %> <%= image_tag("star_rating.png", :size => '20x20') %> <%= image_tag("star_rating.png", :size => '20x20') %> <%= image_tag("star_rating.png", :size => '20x20') %> 
<% end %></div>

        </div>
        <br>
        <%= review.comment %>
      </td>
    </tr>

</table>
